/* NOTE: Following https://www.a11ywithlindsey.com/blog/create-custom-keyboard-accesible-checkboxes */

input[type="checkbox"] {
  position: absolute;
}

input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  position: relative;
}

input[type="checkbox"] + label::before {
  content: "";
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid black;
  border-radius: 4px;
}

input[type="checkbox"]:checked + label::before {
  background: black;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  height: 7px;
  width: 12px;
  transform: rotate(-45deg);
}

input[type="checkbox"]:focus + label::before {
  outline: blue solid 2px;
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
